.git/
.github/
cmake/
CMakeFiles/
scripts/
tests/
/.gitignore
/.gitattributes
/*.txt
/*.cmake
/MakeFile
/.idea
cmake-build-debug/
cmake-build-minsizerel/
cmake-build-release/
cmake-build-relwithdebinfo/
bindings-wasm/
buildcpp/
emsdk/
include/
lib/
src/
third_party/
travis_scripts/
/.travis.yml
/Dockerfile
/Doxyfile
/docker-compose.yml
/main.cpp
/package.json