language: cpp

os:
  - linux
  - osx

compiler:
  - gcc
#  - clang

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
    brew update;
    brew install doxygen;
    brew install node@12.8.0;

    else
    sudo apt-get update;
    sudo apt-get install doxygen;
    curl -sL https://deb.nodesource.com/setup_12.x | sudo -E bash -;
    sudo apt-get install -y nodejs;
    fi

install: travis_retry npm install

script:
  - cmake ./
  - make
  - ./bin/amo_tools_suite_tests
  - npm install
  - npm run test
  - npm run at
  - doxygen Doxyfile.in
